@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}


h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layouts for admin dashboard */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}


#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: #C8EFFC;
}

/* Sidebar Menu */
.sidebar-logo img {
    position: relative;
    right: 5px;
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
}

.sidebar-logo {
    position: relative; /* Set position to relative for z-index to work */
}

.sidebar-logo a {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 150px;
    color: white;
    transform: translate(-50%, -50%); /* Center the text */
    z-index: 2; /* Set the z-index value for the anchor text */
}


.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}


.sidebar-header {
    color: white;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link {
    color: #000; /* Default text color */
    background-color: transparent; /* Default background color */
    text-decoration: none; /* Remove underline if needed */
    transition: color 0.3s, background-color 0.3s; /* Add smooth transitions */
}

.sidebar-link:hover {
    color: rgb(60, 168, 239); /* Text color for the active link */
    background-color: #f4f4f4; /* Change to your desired background color on hover */
}

.sidebar-link.active {
    color: rgb(60, 168, 239); /* Text color for the active link */
    background-color: #f4f4f4; /* Background color for the active link */
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100%;
}

@media (min-wdth: 76px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    margin: 20px;
    box-shadow: 0 0 .875rem rgb(34, 46, 60, .05);
    margin-bottom: 24px;
}


.illustration {
    background-color: orange;
    color:  var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle  */

#sidebar.collapsed {
    margin-left: -264px;
}


/*  */

.container-sm {
    padding-top: 100px;
}
